* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(0, 84, 139, 255);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d6c7a6;
  position: relative;
}

.container {
  width: 90vw;
  height: 95vh;
  /*background-color: #A89982;*/
  background-color: #d6c7a6;
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
